<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FO2Utils.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FO2Utils.Shell.Properties.Settings>
            <setting name="FO2Path" serializeAs="String">
                <value>E:\JUEGOS\FO2</value>
            </setting>
            <setting name="PatchFilePath" serializeAs="String">
                <value>E:\JUEGOS\FO2\bfs\patch</value>
            </setting>
            <setting name="BFS2PackPath" serializeAs="String">
                <value>E:\JUEGOS\FO2\bfs2pack1.2-bin\bfs2pack_con.exe</value>
            </setting>
        </FO2Utils.Shell.Properties.Settings>
    </userSettings>
</configuration>